.main{
	font-family: Arial, Verdana, serif;
	background: rgb(245,245,220);
	text-align: center;
	height: 59em;
	
}

.header{
	background: rgb(4,139,154);
	text-align: right;
	padding-top: 20px;
	height: 5em;
}

.footer{
	background: rgb(4,139,154);
	padding-top: 20px;
	position: absolute;
	height: 5em;
}

h1{
	color: rgb(121,28,248);
}

.bouton:hover{
	color: rgb(121,28,248);
}


a{
	color: black;
}
